/*css para propriedade id*/
#banner{
    width: 100%;
}

.principal{
    background-color: #cccccc;
    padding: 0 30px 30px;
}

.titulo-principal{
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}

.titulo-centralizado{
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: red;
}

/*css para propriedade class*/
.itens{
    font-style: italic;
}

.beneficios{
    background-color: #ffffff;
    padding: 20px;
}

.lista-beneficios{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%;
}